html, body {
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  height: 100px;
  text-align: center;
  width: 100%;
  background-color: white;
  z-index: 2;
}

h1 {
  text-align: center;
  display: inline-block;
}

.navbar-form {
  padding-top: 25px;
  margin-right: -160px;
}

#back {
  display: inline-block;
  /*position: absolute;*/
  /*right: 0;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

#info {
    padding-top: 100px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    /* align-content: center; */
}

.pics {
    width: 100px;
    height: 100px;
    /* display: inline-block; */
    /* margin: auto; */
    /* text-align: center; */
}

#data {
  text-align: center;
}


.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 7300px;
    min-height: 100%;
}

.grid-align {
  text-align: center;
}

.inline {
  display: inline-block;
  width: 25%;
  margin-top: 120px;
}

.ngTopPanel {
  line-height: 25px;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.ngGrid.unselectable {
  margin-top: 10px;
}